input{
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 8px;
    text-indent: 1rem;
    outline-color: $main-color;
}

textarea{
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 8px;
    text-indent: 1rem;
    outline-color: $main-color;
}

/* The container */
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 52px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border: 1px solid $grey;
    border-radius: 8px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-wrapper:hover input ~ .checkmark {
    background-color: $light-grey;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-wrapper input:checked ~ .checkmark {
    background-color: #FFF;
    border: 2px solid $main-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-wrapper .checkmark:after {
    left: 12px;
    top: 4px;
    width: 12px;
    height: 21px;
    border: solid #237C72;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }