.services-card{
    background-color: $light-grey;
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 24px 30px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 8px 6px -7px rgba(95, 95, 95, 0.25);
    &__content{
        &__head{
            display: flex;
            align-items: center;
            gap: 1rem;
            &__title{
                font-size: 21px;
                font-weight: 600;
            }
        }

    }
}

.services-card:hover{
    transform: scale(1.01);
    border: 1px solid $main-color;
}

@media only screen and (max-width: 768px) {
    .services-card{
        &__content{
            &__head{
                &__title{
                    font-size: 16px;
                }
            }
        }
    }
}